name: Build & Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      MONGO_DB: ${{ secrets.MONGO_DB }}
      DB_PATH: ${{ vars.DB_PATH }}
      SYNC_INTERVAL: ${{ vars.SYNC_INTERVAL }}
      TRACKING_INTERVAL: ${{ vars.TRACKING_INTERVAL }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.7"

      - name: Install deps
        run: pip install -r requirements.txt && pip install pyinstaller

      - name: Build binary
        run: pyinstaller -w -F --name "AgentTracker" main.py

      - name: Upload release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/AgentTracker
          token: ${{ secrets.RELEASE_TOKEN }}
